# Notebook Cleaning

In [186]:
import pandas as pd
import numpy as np
import seaborn as sns

In [187]:
url = r"..\data\raw\raw_huis_te_koop.csv"
house = pd.read_csv(url, sep=",")
url = r"..\data\raw\raw_apartement_te_koop.csv"
app = pd.read_csv(url, sep=",")

### Remove duplicates

In [188]:
def removedup_id(df):
    dup = df.duplicated(subset=["property_id"]).sum()
    print(dup)
    df.drop_duplicates(subset=["property_id"],keep="first", inplace=True)
    dup = df.duplicated(subset=["property_id"]).sum()
    print(dup)

In [189]:
removedup_id(house)
removedup_id(app)

2239
0
122
0

### drop streetname and nr

In [190]:
def remove_street_nr(df):
    df.drop(["street_name", "house_number"], axis="columns", inplace= True)
    return df

In [191]:
remove_street_nr(house)
remove_street_nr(app)

,property_id,locality_name,postal_code,latitude,longitude,property_type,property_subtype,price,type_of_sale,number_of_rooms,...,furnished,open_fire,terrace,terrace_area,garden,garden_area,surface_of_good,number_of_facades,swimming_pool,state_of_building
0,11151864,Turnhout,2300,51.316287,4.932205,HOUSE,HOUSE,175000.0,BUY_REGULAR,NaN,...,NaN,1,1.0,NaN,1.0,NaN,227.0,3.0,NaN,TO_RENOVATE
1,11154023,Beringen,3582,51.065132,5.227231,HOUSE,HOUSE,249000.0,BUY_REGULAR,1.0,...,NaN,0,NaN,NaN,NaN,NaN,1186.0,4.0,NaN,TO_BE_DONE_UP
2,11141961,SAINT-JOSSE-TEN-NOODE,1210,NaN,NaN,APARTMENT,FLAT_STUDIO,120000.0,BUY_REGULAR,NaN,...,NaN,0,1.0,6.0,NaN,NaN,NaN,NaN,NaN,TO_BE_DONE_UP
3,11150522,Gavere,9890,50.914593,3.650555,HOUSE_GROUP,HOUSE_GROUP,NaN,BUY_REGULAR,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,11145864,Comblain-Fairon,4180,50.446027,5.542826,HOUSE,HOUSE,499000.0,BUY_REGULAR,21.0,...,NaN,0,NaN,NaN,NaN,NaN,1323.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16571,10795049,Aalter,9880,51.087235,3.448468,APARTMENT,APARTMENT,378000.0,BUY_REGULAR,10.0,...,NaN,0,1.0,42.0,NaN,NaN,NaN,NaN,NaN,NaN
16572,11089010,Woluwe-Saint-Lambert,1200,50.840846,4.421270,APARTMENT,DUPLEX,335000.0,BUY_REGULAR,NaN,...,0.0,0,1.0,31.0,NaN,NaN,NaN,2.0,NaN,GOOD
16573,11150113,Boutersem,3370,50.831096,4.829753,HOUSE,VILLA,499000.0,BUY_REGULAR,NaN,...,0.0,0,1.0,NaN,NaN,NaN,1528.0,4.0,NaN,JUST_RENOVATED
16574,11153256,Laeken,1020,50.874875,4.339214,APARTMENT,APARTMENT,208000.0,BUY_REGULAR,NaN,...,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GOOD
16575,10895795,Molenbeek-Saint-Jean,1080,NaN,NaN,APARTMENT,GROUND_FLOOR,125000.0,BUY_REGULAR,NaN,...,0.0,0,NaN,NaN,NaN,NaN,NaN,2.0,0.0,TO_BE_DONE_UP

### Remove app in house and house in app

In [192]:
house.groupby("property_type").count()
app.groupby("property_type").count()

,property_id,locality_name,postal_code,latitude,longitude,property_subtype,price,type_of_sale,number_of_rooms,living_area,...,furnished,open_fire,terrace,terrace_area,garden,garden_area,surface_of_good,number_of_facades,swimming_pool,state_of_building
property_type,,,,,,,,,,,,,,,,,,,,,
APARTMENT,9980,9980,9980,8874,8874,9980,9980,9980,3015,9663,...,4045,9980,6834,5330,805,635,0,6304,3893,7593
APARTMENT_GROUP,1178,1178,1178,1043,1043,1178,0,1178,0,0,...,30,1178,0,0,0,0,0,0,0,0
HOUSE,5185,5185,5185,4245,4245,5185,5185,5185,1327,4701,...,1560,5185,2697,1231,1921,1428,5185,4240,1306,3838
HOUSE_GROUP,111,111,111,93,93,111,0,111,0,0,...,1,111,0,0,0,0,0,0,0,0

In [201]:
def strip(df, columnname):
    df['columnname'] = df['columnname'].str.strip()
    return df

In [194]:
house = strip(house)
app = strip(app)

In [195]:
## ~ this symbol means that all the things like house and house_group are exclude out of the new dataframe
def remove_house_in_app(df):
    df = df[~df["property_type"].isin(["HOUSE", "HOUSE_GROUP"])]
    return df

In [196]:
def remove_app_in_house(df):
    df = df[df["property_type"].isin(["HOUSE", "HOUSE_GROUP"])]
    return df

In [197]:
house = remove_app_in_house(house)
app = remove_house_in_app(app)

### Dataframe Info

In [198]:
house.info()
app.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13904 entries, 0 to 19970
Data columns (total 23 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   property_id             13904 non-null  int64
 1   locality_name           13904 non-null  object
 2   postal_code             13904 non-null  object
 3   latitude                12034 non-null  float64
 4   longitude               12034 non-null  float64
 5   property_type           13904 non-null  object
 6   property_subtype        13904 non-null  object
 7   price                   13302 non-null  float64
 8   type_of_sale            13904 non-null  object
 9   number_of_rooms         3962 non-null   float64
 10  living_area             12492 non-null  float64
 11  kitchen_type            8391 non-null   object
 12  fully_equipped_kitchen  10193 non-null  float64
 13  furnished               4589 non-null   float64
 14  open_fire               13904 non-null  int64
 15  terrace                 7598 non-null   float64
 16  terrace_area            3880 non-null   float64
 17  garden                  5192 non-null   float64
 18  garden_area             4349 non-null   float64
 19  surface_of_good         13302 non-null  float64
 20  number_of_facades       11156 non-null  float64
 21  swimming_pool           4522 non-null   float64
 22  state_of_building       10515 non-null  object
dtypes: float64(14), int64(2), object(7)
memory usage: 2.5+ MB
<class 'pandas.core.frame.DataFrame'>
Index: 11158 entries, 2 to 16575
Data columns (total 23 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   property_id             11158 non-null  int64
 1   locality_name           11158 non-null  object
 2   postal_code             11158 non-null  object
 3   latitude                9917 non-null   float64
 4   longitude               9917 non-null   float64
 5   property_type           11158 non-null  object
 6   property_subtype        11158 non-null  object
 7   price                   9980 non-null   float64
 8   type_of_sale            11158 non-null  object
 9   number_of_rooms         3015 non-null   float64
 10  living_area             9663 non-null   float64
 11  kitchen_type            6967 non-null   object
 12  fully_equipped_kitchen  7737 non-null   float64
 13  furnished               4075 non-null   float64
 14  open_fire               11158 non-null  int64
 15  terrace                 6834 non-null   float64
 16  terrace_area            5330 non-null   float64
 17  garden                  805 non-null    float64
 18  garden_area             635 non-null    float64
 19  surface_of_good         0 non-null      float64
 20  number_of_facades       6304 non-null   float64
 21  swimming_pool           3893 non-null   float64
 22  state_of_building       7593 non-null   object
dtypes: float64(14), int64(2), object(7)
memory usage: 2.0+ MB

In [199]:
house.groupby("property_type").count()

,property_id,locality_name,postal_code,latitude,longitude,property_subtype,price,type_of_sale,number_of_rooms,living_area,...,furnished,open_fire,terrace,terrace_area,garden,garden_area,surface_of_good,number_of_facades,swimming_pool,state_of_building
property_type,,,,,,,,,,,,,,,,,,,,,
HOUSE,13302,13302,13302,11473,11473,13302,13302,13302,3962,12492,...,4574,13302,7598,3880,5192,4349,13302,11156,4522,10515
HOUSE_GROUP,602,602,602,561,561,602,0,602,0,0,...,15,602,0,0,0,0,0,0,0,0

In [200]:
app.groupby("property_type").count()

,property_id,locality_name,postal_code,latitude,longitude,property_subtype,price,type_of_sale,number_of_rooms,living_area,...,furnished,open_fire,terrace,terrace_area,garden,garden_area,surface_of_good,number_of_facades,swimming_pool,state_of_building
property_type,,,,,,,,,,,,,,,,,,,,,
APARTMENT,9980,9980,9980,8874,8874,9980,9980,9980,3015,9663,...,4045,9980,6834,5330,805,635,0,6304,3893,7593
APARTMENT_GROUP,1178,1178,1178,1043,1043,1178,0,1178,0,0,...,30,1178,0,0,0,0,0,0,0,0