# Notebook Cleaning

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

In [36]:
url = r"..\data\raw\raw_huis_te_koop.csv"
house = pd.read_csv(url, sep=",")
url = r"..\data\raw\raw_apartement_te_koop.csv"
app = pd.read_csv(url, sep=",")

### Remove duplicates

In [44]:
def removedup_id(df):
    dup = df.duplicated(subset=["property_id"]).sum()
    print(dup)
    df.drop_duplicates(subset=["property_id"],keep="first", inplace=True)
    dup = df.duplicated(subset=["property_id"]).sum()
    print(dup)

In [45]:
removedup_id(house)
removedup_id(app)

0
0
0
0

### drop streetname and nr

In [67]:
def remove_street_nr(df):
    df.drop(["street_name", "house_number"], axis="columns", inplace= True)
    return df

In [68]:
remove_street_nr(house)
remove_street_nr(app)

,property_id,locality_name,postal_code,latitude,longitude,property_type,property_subtype,price,type_of_sale,number_of_rooms,...,furnished,open_fire,terrace,terrace_area,garden,garden_area,surface_of_good,number_of_facades,swimming_pool,state_of_building
0,11151864,Turnhout,2300,51.316287,4.932205,HOUSE,HOUSE,175000.0,BUY_REGULAR,NaN,...,NaN,1,1.0,NaN,1.0,NaN,227.0,3.0,NaN,TO_RENOVATE
1,11154023,Beringen,3582,51.065132,5.227231,HOUSE,HOUSE,249000.0,BUY_REGULAR,1.0,...,NaN,0,NaN,NaN,NaN,NaN,1186.0,4.0,NaN,TO_BE_DONE_UP
2,11141961,SAINT-JOSSE-TEN-NOODE,1210,NaN,NaN,APARTMENT,FLAT_STUDIO,120000.0,BUY_REGULAR,NaN,...,NaN,0,1.0,6.0,NaN,NaN,NaN,NaN,NaN,TO_BE_DONE_UP
3,11150522,Gavere,9890,50.914593,3.650555,HOUSE_GROUP,HOUSE_GROUP,NaN,BUY_REGULAR,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,11145864,Comblain-Fairon,4180,50.446027,5.542826,HOUSE,HOUSE,499000.0,BUY_REGULAR,21.0,...,NaN,0,NaN,NaN,NaN,NaN,1323.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16571,10795049,Aalter,9880,51.087235,3.448468,APARTMENT,APARTMENT,378000.0,BUY_REGULAR,10.0,...,NaN,0,1.0,42.0,NaN,NaN,NaN,NaN,NaN,NaN
16572,11089010,Woluwe-Saint-Lambert,1200,50.840846,4.421270,APARTMENT,DUPLEX,335000.0,BUY_REGULAR,NaN,...,0.0,0,1.0,31.0,NaN,NaN,NaN,2.0,NaN,GOOD
16573,11150113,Boutersem,3370,50.831096,4.829753,HOUSE,VILLA,499000.0,BUY_REGULAR,NaN,...,0.0,0,1.0,NaN,NaN,NaN,1528.0,4.0,NaN,JUST_RENOVATED
16574,11153256,Laeken,1020,50.874875,4.339214,APARTMENT,APARTMENT,208000.0,BUY_REGULAR,NaN,...,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GOOD
16575,10895795,Molenbeek-Saint-Jean,1080,NaN,NaN,APARTMENT,GROUND_FLOOR,125000.0,BUY_REGULAR,NaN,...,0.0,0,NaN,NaN,NaN,NaN,NaN,2.0,0.0,TO_BE_DONE_UP

In [69]:
house.head(10)

,property_id,locality_name,postal_code,latitude,longitude,property_type,property_subtype,price,type_of_sale,number_of_rooms,...,furnished,open_fire,terrace,terrace_area,garden,garden_area,surface_of_good,number_of_facades,swimming_pool,state_of_building
0,11157483,Ronse,9600,50.741809,3.607601,HOUSE,HOUSE,245000.0,BUY_REGULAR,NaN,...,0.0,0,1.0,13.0,1.0,161.0,250.0,2.0,0.0,GOOD
1,11156843,Merelbeke,9820,51.019250,3.760957,HOUSE,HOUSE,315000.0,BUY_REGULAR,NaN,...,0.0,0,1.0,23.0,NaN,NaN,77.0,2.0,NaN,GOOD
2,11161362,FORÊT,4870,50.563966,5.675489,HOUSE,HOUSE,325000.0,BUY_REGULAR,NaN,...,NaN,0,1.0,16.0,1.0,420.0,572.0,3.0,NaN,AS_NEW
3,11156611,Gent Mariakerke,9030,51.074975,3.682560,HOUSE_GROUP,HOUSE_GROUP,NaN,BUY_REGULAR,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,11160440,Ganshoren,1083,50.873909,4.307285,HOUSE,HOUSE,1149000.0,BUY_REGULAR,NaN,...,0.0,0,1.0,30.0,1.0,270.0,400.0,3.0,NaN,AS_NEW
5,11153591,Ottignies,1340,50.671784,4.575929,HOUSE,HOUSE,395000.0,BUY_REGULAR,NaN,...,NaN,0,1.0,37.0,1.0,76.0,165.0,2.0,NaN,GOOD
6,11128275,Antwerpen Merksem,2170,51.243743,4.443372,HOUSE,MIXED_USE_BUILDING,399900.0,BUY_REGULAR,NaN,...,0.0,0,NaN,NaN,NaN,NaN,65.0,2.0,0.0,GOOD
7,11157340,Hoei,4500,50.524452,5.234238,HOUSE,APARTMENT_BLOCK,300000.0,BUY_REGULAR,NaN,...,0.0,0,1.0,35.0,1.0,300.0,450.0,2.0,0.0,GOOD
8,10654657,LIERDE,9570,NaN,NaN,HOUSE_GROUP,HOUSE_GROUP,NaN,BUY_REGULAR,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,11159641,Luik,4020,50.636057,5.589725,HOUSE,HOUSE,499000.0,BUY_REGULAR,NaN,...,NaN,1,1.0,14.0,1.0,135.0,315.0,2.0,0.0,AS_NEW

### Remove app in house and house in app

In [75]:
house.groupby("property_type").count()
app.groupby("property_type").count()

,property_id,locality_name,postal_code,latitude,longitude,property_subtype,price,type_of_sale,number_of_rooms,living_area,...,furnished,open_fire,terrace,terrace_area,garden,garden_area,surface_of_good,number_of_facades,swimming_pool,state_of_building
property_type,,,,,,,,,,,,,,,,,,,,,
APARTMENT,9980,9980,9980,8874,8874,9980,9980,9980,3015,9663,...,4045,9980,6834,5330,805,635,0,6304,3893,7593
APARTMENT_GROUP,1178,1178,1178,1043,1043,1178,0,1178,0,0,...,30,1178,0,0,0,0,0,0,0,0
HOUSE,5185,5185,5185,4245,4245,5185,5185,5185,1327,4701,...,1560,5185,2697,1231,1921,1428,5185,4240,1306,3838
HOUSE_GROUP,111,111,111,93,93,111,0,111,0,0,...,1,111,0,0,0,0,0,0,0,0

In [84]:
def remove_house_in_app(df):
    df[df["property_type"].isin(["APARTMENT", "APARTMENT_GROUP"])]

    return df

In [87]:
def remove_app_in_house(df):
    df[df["property_type"].isin(["HOUSE", "HOUSE_GROUP"])]

    return df

In [88]:
remove_app_in_house(house)

,property_id,locality_name,postal_code,latitude,longitude,property_type,property_subtype,price,type_of_sale,number_of_rooms,...,furnished,open_fire,terrace,terrace_area,garden,garden_area,surface_of_good,number_of_facades,swimming_pool,state_of_building
0,11157483,Ronse,9600,50.741809,3.607601,HOUSE,HOUSE,245000.0,BUY_REGULAR,NaN,...,0.0,0,1.0,13.0,1.0,161.0,250.0,2.0,0.0,GOOD
1,11156843,Merelbeke,9820,51.019250,3.760957,HOUSE,HOUSE,315000.0,BUY_REGULAR,NaN,...,0.0,0,1.0,23.0,NaN,NaN,77.0,2.0,NaN,GOOD
2,11161362,FORÊT,4870,50.563966,5.675489,HOUSE,HOUSE,325000.0,BUY_REGULAR,NaN,...,NaN,0,1.0,16.0,1.0,420.0,572.0,3.0,NaN,AS_NEW
3,11156611,Gent Mariakerke,9030,51.074975,3.682560,HOUSE_GROUP,HOUSE_GROUP,NaN,BUY_REGULAR,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,11160440,Ganshoren,1083,50.873909,4.307285,HOUSE,HOUSE,1149000.0,BUY_REGULAR,NaN,...,0.0,0,1.0,30.0,1.0,270.0,400.0,3.0,NaN,AS_NEW
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19966,11137499,Sint-Truiden,3800,50.815211,5.184776,APARTMENT,APARTMENT,1095000.0,BUY_REGULAR,16.0,...,NaN,0,1.0,130.0,NaN,NaN,NaN,NaN,NaN,GOOD
19969,11137497,Genk,3600,50.998722,5.511004,APARTMENT,APARTMENT,274900.0,BUY_REGULAR,12.0,...,NaN,0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19970,11137503,Jabbeke,8490,51.181299,3.097805,HOUSE,HOUSE,185000.0,BUY_REGULAR,13.0,...,NaN,0,NaN,NaN,NaN,NaN,403.0,NaN,NaN,TO_RENOVATE
19971,11137500,Heusden-Zolder,3550,51.038573,5.300200,APARTMENT,PENTHOUSE,245000.0,BUY_REGULAR,11.0,...,NaN,0,1.0,17.0,NaN,NaN,NaN,NaN,NaN,GOOD
19972,11137501,Heusden-Zolder,3550,51.038573,5.300200,APARTMENT,APARTMENT,220000.0,BUY_REGULAR,11.0,...,NaN,0,1.0,16.0,NaN,NaN,NaN,NaN,NaN,GOOD

### Dataframe Info

In [70]:
house.info()
app.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17734 entries, 0 to 19972
Data columns (total 23 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   property_id             17734 non-null  int64
 1   locality_name           17734 non-null  object
 2   postal_code             17734 non-null  object
 3   latitude                15297 non-null  float64
 4   longitude               15297 non-null  float64
 5   property_type           17734 non-null  object
 6   property_subtype        17734 non-null  object
 7   price                   16863 non-null  float64
 8   type_of_sale            17734 non-null  object
 9   number_of_rooms         4877 non-null   float64
 10  living_area             15894 non-null  float64
 11  kitchen_type            10812 non-null  object
 12  fully_equipped_kitchen  12874 non-null  float64
 13  furnished               5887 non-null   float64
 14  open_fire               17734 non-null  int64
 15  terrace                 9931 non-null   float64
 16  terrace_area            5689 non-null   float64
 17  garden                  5520 non-null   float64
 18  garden_area             4595 non-null   float64
 19  surface_of_good         13302 non-null  float64
 20  number_of_facades       13418 non-null  float64
 21  swimming_pool           5615 non-null   float64
 22  state_of_building       12995 non-null  object
dtypes: float64(14), int64(2), object(7)
memory usage: 3.2+ MB
<class 'pandas.core.frame.DataFrame'>
Index: 16454 entries, 0 to 16575
Data columns (total 23 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   property_id             16454 non-null  int64
 1   locality_name           16454 non-null  object
 2   postal_code             16454 non-null  object
 3   latitude                14255 non-null  float64
 4   longitude               14255 non-null  float64
 5   property_type           16454 non-null  object
 6   property_subtype        16454 non-null  object
 7   price                   15165 non-null  float64
 8   type_of_sale            16454 non-null  object
 9   number_of_rooms         4342 non-null   float64
 10  living_area             14364 non-null  float64
 11  kitchen_type            10137 non-null  object
 12  fully_equipped_kitchen  11481 non-null  float64
 13  furnished               5636 non-null   float64
 14  open_fire               16454 non-null  int64
 15  terrace                 9531 non-null   float64
 16  terrace_area            6561 non-null   float64
 17  garden                  2726 non-null   float64
 18  garden_area             2063 non-null   float64
 19  surface_of_good         5185 non-null   float64
 20  number_of_facades       10544 non-null  float64
 21  swimming_pool           5199 non-null   float64
 22  state_of_building       11431 non-null  object
dtypes: float64(14), int64(2), object(7)
memory usage: 3.0+ MB

In [51]:
house.head(10)
app.head(10)

,property_id,locality_name,postal_code,street_name,house_number,latitude,longitude,property_type,property_subtype,price,...,furnished,open_fire,terrace,terrace_area,garden,garden_area,surface_of_good,number_of_facades,swimming_pool,state_of_building
0,11151864,Turnhout,2300,Steenweg op Gierle,84,51.316287,4.932205,HOUSE,HOUSE,175000.0,...,NaN,1,1.0,NaN,1.0,NaN,227.0,3.0,NaN,TO_RENOVATE
1,11154023,Beringen,3582,Heesterweg,39,51.065132,5.227231,HOUSE,HOUSE,249000.0,...,NaN,0,NaN,NaN,NaN,NaN,1186.0,4.0,NaN,TO_BE_DONE_UP
2,11141961,SAINT-JOSSE-TEN-NOODE,1210,NaN,NaN,NaN,NaN,APARTMENT,FLAT_STUDIO,120000.0,...,NaN,0,1.0,6.0,NaN,NaN,NaN,NaN,NaN,TO_BE_DONE_UP
3,11150522,Gavere,9890,Slaapstraat,8,50.914593,3.650555,HOUSE_GROUP,HOUSE_GROUP,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,11145864,Comblain-Fairon,4180,Rue du Ruisseau,1,50.446027,5.542826,HOUSE,HOUSE,499000.0,...,NaN,0,NaN,NaN,NaN,NaN,1323.0,NaN,NaN,NaN
5,11163132,Nijvel,1400,NaN,NaN,NaN,NaN,HOUSE,HOUSE,375000.0,...,0.0,0,NaN,NaN,NaN,NaN,261.0,4.0,NaN,NaN
6,11158977,Elsene,1050,Rue Souveraine,41,50.832733,4.364130,APARTMENT,APARTMENT,325000.0,...,0.0,0,NaN,NaN,NaN,NaN,NaN,2.0,0.0,AS_NEW
7,10851681,Marcinelle,6001,NaN,NaN,NaN,NaN,HOUSE,VILLA,320000.0,...,0.0,0,NaN,NaN,NaN,NaN,780.0,4.0,NaN,AS_NEW
8,11159690,Gent,9000,Sint-Katelijnestraat,16,51.059063,3.728088,HOUSE,MIXED_USE_BUILDING,895000.0,...,NaN,0,NaN,NaN,1.0,30.0,264.0,2.0,NaN,TO_RENOVATE
9,10818793,Knokke-Heist,8300,Kustlaan,115,51.354399,3.297763,APARTMENT_GROUP,APARTMENT_GROUP,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN